*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  color: var(--color-text);
}

:root{
  --color-bg:#FEBC2A;
  --color-secundary:#EAFAFF;
  --color-text:#2F317C;
  --color-border:#54595F;
  --color-primary:#0090D2;
  --color-white:#EAFAFF;
}

body{
 display: flex;
 height: 100vh;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;

 background-image:url(https://d32ijn7u0aqfv4.cloudfront.net/wp/wp-content/uploads/raw/piggybank-yellowbackground_SOIN19035_841053770_is_780x4401.jpg);
 background-size: cover;

}

body::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(circle at center, #0A1120 0%, #050A14 100%);

  /* Controle a opacidade aqui facilmente */
  opacity: 0.2;

  /* Garante que fique atrás do conteúdo do site */
  z-index: -1;
}

.calculator{
  width: 80%;
  
}

.calculator__header{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.calculator__title-wrapper{
  display: flex;
  align-items: center;
  
}

.calculator__title-wrapper 
h1, i {
  font-size: 2.5em;  
  color: var(--color-text);
  font-weight: bold;
}

.calculator__Form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;  
  
}

.input-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.input-group input, 
select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-border) ;
  background: transparent;

  outline: none;

  &:focus{
    border: 1px solid var(--color-secundary);
  }

}

.input-group option{
  background-color: var(--color-bg) ;
  
  
}

.calcular__actions{
 display: grid;  
 grid-column: 1 /-1; /* Ocupa a largura total do form pai */
 grid-template-columns: 1fr 1fr;
 gap: 20px;
  
}

.calcular__actions button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  background: transparent;
  
  letter-spacing: -.9px;
  cursor: pointer;
  color: var(--color-text);
 
  &:hover{
    background:var(--color-primary) ;
    color: var(--color-white);
  }

}

.calcular__actions button:nth-child(2){
  background: var(--color-primary);
  color: var(--color-white);
  
  &:hover{
    background:rgba(0, 0, 255, 0.702) ;
  }
}